<header class="main-header">
  <div class="main-header__wrapper">
    <div class="main-header__wrapper-inner">
      <div class="main-header__logo">
        <a href="index.html"><img src="/assets/frontend/images/resources/logo-1.png" alt=""></a>
      </div>
      <div class="main-header__menu-box">
        <div class="main-header__menu-box-top">
          <ul class="list-unstyled main-header__contact-list">
            <li>
              <div class="icon">
                <i class="icon-email"></i>
              </div>
              <div class="text">
                <p><a href="#"></a></p>
              </div>
            </li>
            <li>
              <div class="icon">
                <i class="icon-pin"></i>
              </div>
              <div class="text">
                <p>80 Broklyn Golden Street USA</p>
              </div>
            </li>
          </ul>
          <div class="main-header__social">
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-pinterest-p"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
        <div class="main-header__menu-box-bottom">
          <nav class="main-menu">
            <div class="main-menu__wrapper">
              <div class="main-menu__wrapper-inner">
                <div class="main-menu__left">
                  <div class="main-menu__main-menu-box">
                    <a href="#" class="mobile-nav__toggler" (click)="toggleMobileMenu($event)"><i class="fa fa-bars"></i></a>
                    <ul class="main-menu__list">
                      <li class="dropdown current megamenu">
                        <a href="index.html">Home </a>
                      </li>
                      <li>
                        <a href="about.html">About</a>
                      </li>
                      <li class="dropdown">
                        <a href="#">Services</a>
                        <ul class="shadow-box">
                          <li><a href="services.html">Services</a>
                          </li>
                          <li><a href="services-carousel.html">Services Carousel</a>
                          </li>
                          <li><a href="agriculture-products.html">Agriculture
                            Products</a></li>
                          <li><a href="organic-products.html">Organic Products</a>
                          </li>
                          <li><a href="fresh-vegetables.html">Fresh Vegetables</a>
                          </li>
                          <li><a href="dairy-products.html">Dairy Products</a></li>
                        </ul>
                      </li>
                      <li class="dropdown">
                        <a href="#">Projects</a>
                      </li>
                      <li class="dropdown">
                        <a href="#">Pages</a>
                      </li>
                      <li class="dropdown">
                        <a href="#">Blog</a>
                      </li>
                      <li class="dropdown">
                        <a href="#">Shop</a>
                      </li>
                      <li>
                        <a href="contact.html">Contact</a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="main-menu__right">
                  <div class="main-menu__search-cart-btn-box" (click)="toggleSearchMenu($event)">
                    <div class="main-menu__search-box">
                      <a href="#"
                         class="main-menu__search search-toggler icon-magnifying-glass"></a>
                    </div>
                    <div class="main-menu__cart-box">
                      <a href="cart.html" class="main-menu__cart icon-shopping-cart"></a>
                    </div>
                    <div class="main-menu__btn-box">
                      <a href="contact.html" class="thm-btn main-menu__btn">Get Free Quote
                        <i class="icon-right-arrow"></i> </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </div>
      <div class="main-header__phone-contact-box">
        <div class="main-header__phone-number">
          <a href="tel:9200886823">+92 (0088) 6823</a>
        </div>
        <div class="main-header__call-box">
          <div class="main-header__call-inner">
            <div class="main-header__call-icon">
              <span class="fas fa-phone"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="mobile-nav__wrapper">
  <div class="mobile-nav__overlay mobile-nav__toggler" (click)="toggleMobileMenu($event)"></div>
  <!-- /.mobile-nav__overlay -->
  <div class="mobile-nav__content">
    <span class="mobile-nav__close mobile-nav__toggler" (click)="toggleMobileMenu($event)"><i class="fa fa-times"></i></span>

    <div class="logo-box">
      <a href="index.html" aria-label="logo image"><img src="/assets/frontend/images/resources/logo-2.png" width="122"
                                                        alt="" /></a>
    </div>
    <!-- /.logo-box -->
    <div class="mobile-nav__container">
      <div class="mobile-nav__container"><ul class="main-menu__list">

        <li>
          <a href="#">Home</a>
        </li>
        <li>
          <a href="about.html">About</a>
        </li>
        <li class="dropdown">
          <a href="#">Services</a>
        </li>
        <li class="dropdown">
          <a href="#">Projects</a>

        </li>
        <li class="dropdown">
          <a href="#">Pages</a>
        </li>
        <li class="dropdown">
          <a href="#">Blog</a>
        </li>
        <li class="dropdown">
          <a href="#">Shop</a>
        </li>
        <li>
          <a href="contact.html">Contact</a>
        </li>
      </ul></div>
    </div>
    <!-- /.mobile-nav__container -->

    <ul class="mobile-nav__contact list-unstyled">
      <li>
        <i class="fa fa-envelope"></i>
        <a href="#"></a>
      </li>
      <li>
        <i class="fa fa-phone-alt"></i>
        <a href="tel:666-888-0000">666 888 0000</a>
      </li>
    </ul><!-- /.mobile-nav__contact -->
    <div class="mobile-nav__top">
      <div class="mobile-nav__social">
        <a href="#" class="fab fa-twitter"></a>
        <a href="#" class="fab fa-facebook-square"></a>
        <a href="#" class="fab fa-pinterest-p"></a>
        <a href="#" class="fab fa-instagram"></a>
      </div><!-- /.mobile-nav__social -->
    </div><!-- /.mobile-nav__top -->

  </div>
  <!-- /.mobile-nav__content -->
</div>
<!-- /.mobile-nav__wrapper -->


<div class="search-popup" (click)="toggleSearchMenu($event)">
  <div class="search-popup__overlay search-toggler"></div>
  <!-- /.search-popup__overlay -->
  <div class="search-popup__content">
    <form action="#">
      <label for="search" class="sr-only">search here</label><!-- /.sr-only -->
      <input type="text" id="search" placeholder="Search Here..." />
      <button type="submit" aria-label="search submit" class="thm-btn">
        <i class="icon-magnifying-glass"></i>
      </button>
    </form>
  </div>
  <!-- /.search-popup__content -->
</div>
